fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1
google-generativeai==0.8.3
httpx==0.27.2

# --- RAG + FAISS ---
pypdf==4.3.1
faiss-cpu>=1.8.0
numpy
sentence-transformers==6.1.0

# CPU-only PyTorch for Render
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.1+cpu